.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  grid-template-rows: 1fr;
  align-items: center;
  margin: 92px 24px 96px;
  gap: 0px;
  height: 105px;
  font-size: 18px;
}

.header__links-list {
  display: flex;
  list-style-type: circle;
  justify-content: space-evenly;
  padding-top: 2px;
  padding-right: 7px;
  gap: 6px;
}

.header__link {
  text-underline-offset: 4px;
}

.header__links-list-item_no-bullit {
  list-style-type: none;
}

.header__link_active {
  text-decoration: none;
}

.header__logo {
  display: block;
  width: 148px;
  height: 105px;
}

.header__logo-image {
  width: 100%;
  height: 105px;
}

.header__address-link {
  text-decoration: none
}

.address {
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  word-spacing: 0.2em;
  text-underline-offset: 4px;
}

.header__address {
  justify-self: flex-end;
  padding-right: 57px;
  line-height: 25px;
}

.cover {
  position: relative;
  background: url(../images/cover.jpg) center no-repeat;
  z-index: 0;
  margin-bottom: 179px;
}

.overlay {
  position: absolute;
  inset: 0;
  background-color: rgb(0, 0, 0, 0.6);
  z-index: 1;
}

.cover__container {
  position: relative;
  max-width: 1000px;
  padding: 165px 0 50px;
  margin: 0 auto;
  text-transform: uppercase;
  color: #fff;
  z-index: 2;
}

.cover__title {
  display: flex;
  flex-direction: column;
  row-gap: 22px;
  font-size: 100px;
  font-weight: 700;
  line-height: calc(100 / 100 * 100%);
  letter-spacing: .3em;
}

.aligned-text {
  width: fit-content;
  padding-top: 8px;
}

.aligned-text_center {
  margin: 0 auto;
  padding-right: 6%;
  padding-top: 0.4%;
}

.aligned-text_right {
  margin-left: auto;
  padding-top: 0;
}

.letter-spacing-extended {
  letter-spacing: 0.6em;
}

.no-letter-spacing {
  letter-spacing: normal;
}

.cover__description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 135px;
}

.cover__description-text {
  font-size: 22px;
  line-height: calc(28 / 22 * 100%);
  word-spacing: 0.84em;
  margin-left: 29px;
}

.bet-button {
  padding: 12px 32px 11px 31px;
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
  font-size: 22px;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
}

.lots {
  max-width: 1100px;
  height: max-content;
  padding: 0 24px;
}

.lots__heading {
  font-size: 40px;
  font-weight: 700;
  line-height: 47px;
  padding-left: 40px;
  padding-bottom: 27px;
  text-transform: uppercase;
}

.lots__card-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 25px;
}

.lots__card-list-item{
  position: relative;
}

.card-link {
  text-decoration: none;
}

.card {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  width: 334px;
  height: 563px;
  padding: 51px 40px 48px 40px;
  color: #fff;
  z-index: 2;
  
}

.card__title {
  font-size: 22px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: underline;
  text-underline-offset: 3px;

}

.card__text {
  font-size: 20px;
  font-weight: 400;
}

.card_type_film {
  position: relative;
  background-size: cover;
  background: url(../images/card-lot-01.jpg) center no-repeat;
 
}

.card_type_book {
  position: relative;
  background-size: cover;
  background: url(../images/card-lot-02.jpg) center no-repeat;
}

.card_type_picture {
  position: relative;
  background-size: cover;
  background: url(../images/card-lot-03.jpg) center no-repeat;
}

.lots__look-more-link {
  font-size: 20px;
  text-underline-offset: 4px;
  margin: 30px 0 150px 40px;
}

.about__column {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr;
}

.about__logo {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  top: 32px;
  left: 71px;
  width: 240px;
  height: 240px;
  background-color: black;
  border-radius: 50%;
}

.about__logo-image {
  width: 145px;
  height: 145px;
}

.about__description {
  padding-right: 30px;
  padding-left: 17px;
  margin-bottom: 180px;
}

.about__title {
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 136px;
  margin-bottom: 100px;
}

.about__text {
  font-size: 20px;
  font-weight: 400;
}